# ======================================================
# MySQL
# ======================================================

MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_DATABASE=ad_platform
MYSQL_USER=dev
MYSQL_PASSWORD=devpass

# auth-api (SQLAlchemy)
DATABASE_URL=mysql+pymysql://dev:devpass@mysql:3306/ad_platform

# ads-api (Go, sqlx)
DB_DSN=dev:devpass@tcp(mysql:3306)/ad_platform?parseTime=true

# mysqld-exporter
DATA_SOURCE_NAME=dev:devpass@(mysql:3306)/

# ======================================================
# Auth API
# ======================================================

# ОБЯЗАТЕЛЬНО минимум 32 символа
SECRET_KEY=change_me_to_super_long_random_string_min_32_chars

# ======================================================
# RabbitMQ
# ======================================================

RABBITMQ_URL=amqp://dev_user:RabbitPass_2026!@rabbitmq:5672/
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# ======================================================
# Redis
# ======================================================

# если будет авторизация — можно добавить пароль
# REDIS_PASSWORD=

# ======================================================
# ClickHouse
# ======================================================

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=default

# ======================================================
# Grafana
# ======================================================

GF_SECURITY_ADMIN_USER=admin1
GF_SECURITY_ADMIN_PASSWORD=admin1!

# ======================================================
# Environment
# ======================================================

APP_ENV=development

# ======================================================
# Tarantool
# ======================================================

TARANTOOL_DSN=tarantool:33013